<%  include ../views/partial/header %>

<div class="container">
    <form action="/newpassword/<%= founduser.email %>" method="post">
        <h1>Enter new password:</h1><%= founduser.email %>
        <div class="form-floating mb-3">
            <input name="password1" type="password" class="form-control" id="floatingInput">
            <label for="floatingInput">password</label>
          </div>
        <div class="form-floating mb-3">
            <input name="password2" type="password" class="form-control" id="floatingInput">
            <label for="floatingInput">confirm password</label>
          </div>
        <div class="form-floating mb-3">
            <input type="submit" class="form-control btn btn-primary" id="floatingInput">
          </div>
    </form>
</div>